* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 700px;
    height: 545px;
    margin: 50px auto;
    border: 1px solid #000;
    div {
        margin: 5px 0
    }
    .box11 {
        border: 1px solid #000;
        height: 30px;
        text-align: center;
    }
    .box21 {
        border: 1px solid #000;
        height: 50px;
        display: flex;
        .box21-right {
            margin-left: auto;
            ul {
                display: flex;
                gap: 10px;
            }
        }
    }
    .box31 {
        height: 300px;
        border: 1px solid #000;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        .div {
            cursor: pointer;
            width: 150px;
            height: 60px;
            border: 1px solid #000;
        }
        .span {
            width: 80px;
            height: 50px;
            cursor: pointer;
            border: 1px solid #000;
        }
        .a {
            align-self: flex-end;
        }
        .c {
            align-self: end;
        }
    }
    .box41 {
        height: 30px;
        border: 1px solid #000;
        display: flex;
        button:nth-child(2) {
            margin-left: auto;
        }
    }
    .box51 {
        height: 100px;
        width: 300px;
        border: 1px solid #000;
        margin: 0 auto;
        text-align: center;
    }
}

body.on {
    .c {
        visibility: hidden;
    }
    .box51 {
        h4::before {
            content: "found gold 3";
        }
    }
}

body.onn {
    .b {
        visibility: hidden;
    }
    .box51 {
        h4::before {
            content: "found gold 2";
        }
    }
}

body.onnn {
    .a {
        visibility: hidden;
    }
    .box51 {
        h4::before {
            content: "found gold 1";
        }
    }
}

body.off {
    .div {
        visibility: hidden;
    }
    .box51 {
        h4::before {
            content: "Boommmm!!!!!!! You lose!";
        }
    }
}